body {
	margin: 0;
	font-family: sans-serif;
}
.wrapper {
	height: 100%;
	width: 100%;
	position: fixed;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-game {
	width: 59.5%;
	float: left;
	margin-right: .5%;
	box-sizing: border-box;
	padding: 20px;
	border-right: 1px solid #f2f2f2;
	text-align: center;
}
.sidebar {
	width: 39.5%;
	margin-left: .5%;
	float: right;
	box-sizing: border-box;
}
.text {
	margin-top: 20px;
	font-size: 18px;
}
.photoUpload {
	width: 70%;
	margin: 10px auto;
	border: 1px solid #e2e2e2;
	padding: 20px;
	text-align: center;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}
canvas {
	cursor: pointer;
}